# MySQL Database
MYSQL_HOST=postgres://avnadmin:AVNS_g3zQ-5kjJhp2z2wwoxP@pg-215ef80-earlchristiantagalog1-36c5.e.aivencloud.com:18248/defaultdb?sslmode=require
MYSQL_PORT=18248
MYSQL_USER=avnadmin
MYSQL_PASSWORD=AVNS_g3zQ-5kjJhp2z2wwoxP
MYSQL_DATABASE=mnhs
MYSQL_SSL=true
